body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
  
  
.game-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.game-canvas {
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;             /*Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /*FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /*Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;            /*OS X & Windows Opera (12.02+)*/
    image-rendering: crisp-edges;               /*Possible future browsers*/
    -ms-interpolation-mode: nearest-neighbor;   /*IE (non standard naming)*/
     /* border: 1px solid black;  */
}